@model ikincieloto.ViewModels.UsersResetPassword
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reset Password for @Model.Username</h1>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()


    <div class="form-group">
        @Html.LabelFor(x => x.Password)
        @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
    </div>

    <input type="submit" value="Reset Password" class="btn btn-primary" />
   
